*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #55d4cb;
    height: 60px;
}
nav .logo a{
    text-decoration: none;
    font-weight: bold;
    color: cadetblue;
}
nav .nav-menu {
    gap: 10px;
    list-style-type: none;
}
nav .nav-menu .nav-link {
    display: inline;
}

nav .nav-menu .nav-link a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav .nav-menu .nav-link a:hover {
    color: white;
    background-color:#ffdd00;
    border-radius: 5px;
}

nav .burger {
    display: none;
    align-items: center;
    font-size: 18px;
}

nav .burger a {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}

nav .burger a:hover {
    background-color: #ffdd00;
}

@media (max-width:720px) {
    nav {
        justify-content: space-between;
        padding: 0 30px;
    }
    .nav-menu {
        display: none;
    }
    nav .burger {
        display: block;
    }
}